 .u-section-1 {
  background-image: url("images/pexelsphoto114251.jpeg");
  background-position: 50% 100%;
}

.u-section-1 .u-sheet-1 {
  min-height: 786px;
}

.u-section-1 .u-group-1 {
  width: 795px;
  min-height: 482px;
  margin: 223px auto 60px;
}

.u-section-1 .u-image-1 {
  width: 576px;
  height: 418px;
  margin: 18px auto 0;
}

.u-section-1 .u-text-1 {
  letter-spacing: 2px;
  font-size: 1.5rem;
  margin: 0 20px 18px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: 656px;
  }

  .u-section-1 .u-image-1 {
    width: 475px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 502px;
  }

  .u-section-1 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    margin-right: 13px;
    margin-left: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 471px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/pexelsphoto1367170.jpeg");
  background-position: 0% 100%;
}

.u-section-2 .u-sheet-1 {
  min-height: 836px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 92px 0 92px auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 653px;
}

.u-section-2 .u-image-1 {
  width: 246px;
  height: 500px;
  margin: 77px 0 0 auto;
}

.u-section-2 .u-text-1 {
  letter-spacing: 1px;
  font-size: 3.75rem;
  font-weight: 500;
  margin: -204px 46px 65px 77px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 653px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 64px;
}

.u-section-2 .u-text-2 {
  margin: 86px 64px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  margin: 92px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    width: 203px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 38px;
    margin-left: 63px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 53px;
  }

  .u-section-2 .u-text-2 {
    width: 364px;
    margin-right: 53px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 648px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 608px;
  }

  .u-section-2 .u-image-1 {
    width: 155px;
    margin-top: 0;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-right: 29px;
    margin-bottom: 114px;
    margin-left: 20px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 608px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 40px;
  }

  .u-section-2 .u-text-2 {
    width: 279px;
    margin-top: 8px;
    margin-right: 40px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1066px;
  }

  .u-section-2 .u-image-1 {
    width: 146px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 22px;
    margin-left: 36px;
    width: 482px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 418px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 30px;
    width: 479px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-wrap-1 {
    margin-top: 46px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 407px;
  }

  .u-section-2 .u-image-1 {
    width: 122px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 14px;
    margin-bottom: 48px;
    margin-left: 23px;
    width: 303px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 518px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 19px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 19px;
    width: 302px;
  }
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/pexelsphoto1054289.jpeg");
  background-position: 100% 100%;
}

.u-section-3 .u-sheet-1 {
  min-height: 698px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 79px auto 0 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 626px;
}

.u-section-3 .u-image-1 {
  height: 420px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-1 {
  letter-spacing: 1px;
  font-size: 1.25rem;
  margin: 26px 20px 0;
}

.u-section-3 .u-text-2 {
  font-size: 0.875rem;
  margin: 20px 20px 0;
}

.u-section-3 .u-layout-cell-2 {
  background-image: none;
  min-height: 626px;
}

.u-section-3 .u-image-2 {
  height: 420px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-3 {
  font-size: 3rem;
  margin: -390px 83px 0 20px;
}

.u-section-3 .u-text-4 {
  letter-spacing: 1px;
  font-size: 1.25rem;
  margin: 364px 20px 0;
}

.u-section-3 .u-text-5 {
  font-size: 0.875rem;
  margin: 20px 20px 0;
}

.u-section-3 .u-layout-cell-3 {
  background-image: none;
  min-height: 626px;
}

.u-section-3 .u-image-3 {
  height: 420px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-6 {
  letter-spacing: 1px;
  font-size: 1.25rem;
  margin: 26px 20px 0;
}

.u-section-3 .u-text-7 {
  font-size: 0.875rem;
  margin: 20px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-3 {
    margin-right: 68px;
    margin-left: 16px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-6 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-layout-wrap-1 {
    margin-top: 49px;
    margin-bottom: 49px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 620px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 620px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 52px;
    margin-left: 13px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 312px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 13px;
    margin-right: 13px;
    margin-bottom: 44px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 620px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1938px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 338px;
    margin: 44px auto 54px 101px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 39px;
    margin-left: 9px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-wrap-1 {
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-3 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 25px;
    margin-left: 6px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 6px;
    margin-right: 6px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 290px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 37px auto 37px 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 216px;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-1 {
  font-size: 3.75rem;
  margin: 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 216px;
}

.u-section-4 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-2 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-4 .u-text-1 {
    position: relative;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-4 .u-text-2 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 13px;
    padding-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 6px;
  }
} .u-section-5 {
  background-image: url("images/pexelsphoto1252869.jpeg");
  background-position: 50% 100%;
}

.u-section-5 .u-sheet-1 {
  min-height: 761px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 90px auto 57px 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 582px;
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 40px;
}

.u-section-5 .u-text-1 {
  font-size: 3.75rem;
  margin: 75px 0 0;
}

.u-section-5 .u-form-1 {
  height: 305px;
  margin: 75px 40px 0 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  font-size: 0.875rem;
}

.u-section-5 .u-image-1 {
  background-image: url("images/pexelsphoto114251.jpeg");
  min-height: 582px;
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-5 .u-text-2 {
  font-size: 3.75rem;
  margin: 73px 0 0;
}

.u-section-5 .u-text-3 {
  margin: 75px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 33px;
  }

  .u-section-5 .u-form-1 {
    width: 404px;
    margin-right: 33px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 731px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 57px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 25px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-5 .u-form-1 {
    width: 309px;
    margin-right: 25px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-5 .u-text-2 {
    font-size: 3rem;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 29px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 476px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 19px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 18px;
  }

  .u-section-5 .u-form-1 {
    width: 502px;
    margin-right: 19px;
  }

  .u-section-5 .u-image-1 {
    min-height: 398px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-layout-cell-1 {
    min-height: 542px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 12px;
  }

  .u-section-5 .u-form-1 {
    width: 316px;
    margin-right: 12px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 6px;
  }
}